<img *ngIf="showG && gif==1" src="../assets/img/giphy1.gif" alt="" width="300" id="fk">
<img *ngIf="showG && gif==2" src="../assets/img/giphy3.gif" alt="" width="320" id="fk">

<div class="wrapper">
  <div class="inner">
      <img src="../assets/img/sida.png" alt="logo" width="50" style="margin-left: 230px;">
    <form #f="ngForm" shake-that [formGroup]="Form" (ngSubmit)="onFormSubmit()" [ngClass]="{'shake' : showE}">
      <h3>Try to submit!</h3>
      <div class="form-group">
        <mat-form-field [ngClass]="{'shake' : shakeI}" class="form-wrapper" appearance="outline">
          <mat-label>First name</mat-label>
          <input (focus)="shake()" matInput formControlName="fname" placeholder="First name">
        </mat-form-field>

        <mat-form-field [ngClass]="{'shake' : shakeI}" class="form-wrapper" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input (focus)="shake()" matInput formControlName="lname" placeholder="Last Name">
        </mat-form-field>

      </div>
      <div [ngClass]="{'shake' : shakeI}" class="form-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input (focus)="shake()" matInput formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
      <div [ngClass]="{'shake' : shakeI}" class="form-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" (focus)="shake()" matInput formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>
      <div [ngClass]="{'shake' : shakeI}" class="form-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" (focus)="shake()" matInput formControlName="cpassword" placeholder="Confirm Password">
        </mat-form-field>
      </div>
      <section class="checkbox">
        <mat-checkbox formControlName="checked">I accept the Terms of Use & Privacy Policy.</mat-checkbox>
        <mat-error *ngIf="Form.get('checked')?.value == false && sub">Check terms to proceed</mat-error>
      </section>
      <button (mouseenter)="showM()" [ngClass]="{'active' : showE}">Register Now</button>
    </form>
  </div>

  <audio controls autoplay *ngIf="showFire" hidden>
    <source src="../assets/sound.mp3" type="audio/mp3">
  </audio>

  <div *ngIf="showFire" class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
  </div>
</div>

